<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://static-cdn.jtvnw.net/jtv_user_pictures/451dd285-491d-49e0-b1e0-20147f3ab56b-profile_image-70x70.png" type="image/png" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500" >
  <link rel="stylesheet" href="./styles.css">
  <title>Youtube ID</title>
</head>
  <body>
    <div class="container">
      <header class="header">
        <a href="../../"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/451dd285-491d-49e0-b1e0-20147f3ab56b-profile_image-300x300.png" class="image" alt="Logo da página" alt="home"></a>
        <nav class="navigation">
          <a href="../../"><img class="icons" src="./../../images/home.svg" alt="home"></a> 
          <a href="https://twitch.tv/c4ldas" target="_blank"><img class="icons" src="./../../images/twitch.svg"></a> 
          <a href="https://youtube.com/c4ldas" target="_blank"><img class="icons" src="./../../images/youtube.svg" alt="youtube"></a> 
          <a href="https://instagram.com/c4ldas" target="_blank"><img class="icons" src="./../../images/instagram.svg" alt="instagram"></a> 
          <a href="https://github.com/c4ldas" target="_blank"><img class="icons" src="./../../images/github.svg" alt="github"></a> 
        </nav>
      </header>
      <main class="main">
      <h1 class="title">Youtube - Get channel ID </h1>
      <form id="channel-form">
        <div class="container-code"> 
          <input type="text" id="overlay-code" class="text-code" placeholder="Channel handle with @"/>
          <input type="submit" id="submit" class="button" value="Get channel info">
          <p id="no-code" class="invalid no-code">Please insert the channel name in the field!</p>
        </div>
      </form>
      
      <div id="results" class="results">
        <h1>Channel information:</h1>
        <a id="channel-url" href="" target="_blank"><img id="channel-image" style="border-radius: 50%;" src="" /></a>
        <div class="response"><strong>Display Name: </strong><span id="channel-name"></span></div>
        <div class="response"><strong>ID: </strong><span id="channel-id"></span></div>
        <div class="response"><strong>Created at: </strong><span id="channel-created-at"></span></div>
      </div>
      </main>
      <footer class="footer">
        <nav class="navigation">
          <a href="#"
            ><img class="icons" src="/images/home.svg" alt="home"
               /></a>
          <a href="https://twitch.tv/c4ldas" target="_blank"
            ><img class="icons" src="/images/twitch.svg" alt="twitch"
               /></a>
          <a href="https://youtube.com/c4ldas" target="_blank"
            ><img class="icons" src="/images/youtube.svg" alt="youtube"
               /></a>
          <a href="https://instagram.com/c4ldas" target="_blank"
            ><img class="icons" src="/images/instagram.svg" alt="instagram"
               /></a>
          <a href="https://github.com/c4ldas" target="_blank"
            ><img class="icons" src="/images/github.svg" alt="github"
               /></a>
        </nav>
        <div class="privacy">
          <a href="/privacy.html">Privacy Policy</a>
        </div>
      </footer>
    </div>
    
    <script>
      const code = document.querySelector('#overlay-code');
      const form = document.querySelector("#channel-form")
      const noCode = document.querySelector('#no-code');
      const results = document.querySelector('#results');
      const url = document.querySelector('#channel-url');
      const image = document.querySelector("#channel-image");
      const name = document.querySelector('#channel-name');
      const channelId = document.querySelector('#channel-id');
      const createdAt = document.querySelector('#channel-created-at');
      
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        results.style.visibility = 'hidden'
        noCode.style.display = 'none'
        
        console.log(code.value);
        event.preventDefault();
        if(code.value == ''){
          noCode.style.display = 'flex';
          return;
        }
        const request = await fetch(`/api/youtube/${code.value}`)
        const result = await request.json()

        url.href = `https://youtube.com/channel/${result.channelId}`
        image.src = result.thumbnails.medium.url
        name.innerText = result.title;
        channelId.innerText = result.channelId;
        createdAt.innerText = result.publishedAt ? new Date(result.publishedAt).toLocaleDateString('pt-BR') : null;
        results.style.visibility = 'visible'
        
      })
    </script>
  </body>
</html>


